node_modules
dist
out
.DS_Store
.eslintcache
*.log*
src/renderer/public/models/
src/renderer/public/wasm/
public/*
src/renderer/public/*
!src/renderer/public/model.vrm
!src/renderer/public/idleNew.vrma
!src/renderer/public/headworklet.min.mjs
!src/renderer/public/model-en-mixed.bin
.gitbackup/